<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if 'user_id' in request.session %}
<form method="POST" action="/gifts/">
    {% csrf_token %}
    <label for="name">Name of Gift</label>
    <input id="name" type="text" name="name">
    <button type="submit">Submit</button>
</form>
    <h2>Current Gifts</h2>
    {% for gift in Gifts %}
        <h5>{{ gift.name }}</h5>
    {% endfor %}
{% else %}
    <h1>No user logged in.</h1>
{% endif %}
</body>
</html>