<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if 'user_id' not in request.session %}
    <h1>Please Login</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input id="username" type="text" name="username">
        <label for="password">Password:</label>
        <input id="password" type="text" name="password">
        <button type="submit">Login</button>
    </form>
    <h4>Please<a href="{% url 'registration' %}"> register </a>on the registration page if you have not already.</h4>
{% else %}
    <p>You are logged in. Would you like to <a href="{% url 'gifts' %}"> add </a>to your gift list or
        <a href="{% url 'users' %}"> see </a>other users' gift lists?</p>
{% endif %}
</body>
</html>