<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Please Register</h1>
<form action="/registration/" method="POST">
    {% csrf_token %}
    <label for="email_address">Email Address:</label>
    <input id="email_address" type="text" name="email_address" required>
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" required>
    <label for="password">Password:</label>
    <input id="password" type="text" name="password" required>
    <button type="submit">Login</button>
</form>
{% for error in errors %}
    <h5>{{ error }}</h5>
{% endfor %}
</body>
</html>