<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if 'user_id' not in request.session %}
    <h4>Log in is required. Please<a href="{% url 'registration' %}"> register </a>if you haven't already</h4>
    {% else %}
    {% for user in users %}
        <h5>Check out {{ user.username }}'s gift list:</h5>
        <ul>
        {% for gift in user.gifts %}
            <li>{{ gift.name }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endif %}
</body>
</html>